@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Selamat Datang di Website Sistem Informasi Rental Kendaraan</h1>
        <p class="lead">Website ini berguna untuk toko dalam melakukan aktifitas rental kendaraan motor, mobil.</p>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Barang Bagus</h2>
        <p>Rental disini Terjamin Kualitasnya</p>
    </div>
    <div class="col-md-4">
        <h2>Murah</h2>
        <p>Harga Rental paling Murah se-Dunia</p>
    </div>
    <div class="col-md-4">
        <h2>Keren dan Terbaru</h2>
        <p>Motor dan Mobil Terbaik dan Terbaru</p>
    </div>
</div>
